::ng-deep .custom-dialog-container {
    border-radius: 12px;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    animation: popup-fade 0.3s ease-in-out;
  }
  
  @keyframes popup-fade {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  .hidden {
    display: none;
  }  