<div class="register-container">
    <div class="register-card">
      <div class="register-header">
        <h1 class="register-title">Code Confirm</h1>
      </div>
  
      <form class="register-form">
        
  
        <div class="form-group">
          <div class="input-group">
            <input type="text" id="code" required>
            <label for="code">Code</label>
            <div class="underline"></div>
          </div>
        </div>
             
        <button type="submit" class="register-btn border border-2" routerLink="/newPass">
          <span>Send Code</span>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M5 12H19M19 12L12 5M19 12L12 19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </form>
  
      
    </div>
  </div>