<section id="services" class="services-section">
  <div class="services-txt text-center">
    <!-- <h3 class="section-title">Admin Works </h3> -->
  
  </div>
  
  <div class="container pt-5 pb-5">
    <div class="row text-center g-4">
      
      <div class=" col-md-6 mb-4">
        <div class="service-card doctor-service">
          <div class="service-icon">
            <i class="fa-solid fa-users pulse"></i>
          </div>
          <h5 class="service-title">Users Admin Works</h5>
          <div class="service-btn-container">
            <button routerLink="/UesrWork" class="service-btn">
              Go to Work Here
            </button>
          </div>
          <div class="service-overlay"></div>
        </div>
      </div>
      
      <div class=" col-md-6 mb-4">
        <div class="service-card image-service">
          <div class="service-icon">
            <i class="fa-solid fa-comment pulse"></i>
          </div>
          <h5 class="service-title">Contact Us Admin Works</h5>
          <div class="service-btn-container">
            <button routerLink="/ContactWork" class="service-btn">
              Go to Work Here
            </button>
          </div>
          <div class="service-overlay"></div>
        </div>
      </div>
      
      <div class=" col-md-6 ">
        <div class="service-card medicine-service">
          <div class="service-icon">
            <i class="fa-solid fa-building-flag pulse"></i>
          </div>
          <h5 class="service-title">Launches Admin Works</h5>
          <div class="service-btn-container">
            <button routerLink="/LaunchWork" class="service-btn">
              Go to Work Here
            </button>
          </div>
          <div class="service-overlay"></div>
        </div>
      </div>
      
      
      <div class=" col-md-6">
        <div class="service-card aid-service">
          <div class="service-icon">
            <i class="fa-solid fa-building-columns pulse"></i>
          </div>
          <h5 class="service-title"> Properties Admin Works</h5>
          <div class="service-btn-container">
            <button routerLink="/ProperWork" class="service-btn">
              Go to Work Here
            </button>
          </div>
          <div class="service-overlay"></div>
        </div>
      </div>
      
      
      
    </div>
  </div>
</section>