#home
{
    background-image: linear-gradient(rgba(255, 254, 254, 0.3), rgba(255, 255, 255, 0.3)),
    url(../../../assets/image/bgfirst.jpg);
background-size:  cover ;
background-position: center center;
background-repeat: no-repeat;
height: 100vh;
width: 100% !important;
position: relative;

}
.typing-container {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 4s steps(22, end) infinite alternate, blink 0.7s step-end infinite;
  }
  
  .typing-text {
    font-weight: bold;
    font-size: 2.5rem;
    margin: 0;
    animation: shake 2s infinite;
  }
  
  /* تأثير نور ولمعة */
  .glow-text {
    text-shadow: 
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fffcfc,
      0 0 30px #fffcfc,
      0 0 40px #fffcfc;
  }
  
  /* Animation الكتابة */
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  /* Animation المؤشر اللي بيرمش */
  @keyframes blink {
    50% { border-color: transparent; }
  }
  
  /* Animation الهزة الخفيفة */
  @keyframes shake {
    0% { transform: translate(0px, 0px); }
    25% { transform: translate(1px, -1px); }
    50% { transform: translate(-1px, 1px); }
    75% { transform: translate(1px, 1px); }
    100% { transform: translate(0px, 0px); }
  }
.filter{
    display: flex;
    gap: 6px;
    margin-top: 40px;
}
.selector{
    width: 25% !important;
}
.selector select {
    border: 1px #d0d0d0 solid;
}
.btn-primary{
    background-color: #d0d0d0 !important;
    border: 1px #d0d0d0 solid;
    color: black;
    font-weight: bold;
    transition: all .5s;
}
.btn-primary:hover{
    background-color: #0d0d0d !important;
    border: 1px #000000 solid;
    color: #ffffff;
    font-weight: bold;
    transform: scale(1.03);
}

@media(max-width:780px){
    .w-75{
        width: 100% !important;
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* ------- */
.serv{
    transition: all 1s;
    border-radius: 15px;
    

}
.serv:hover
{
   transform: scale(1.05) translateY(-20px);
   background-color: #d0d0d0;
  
}

