<section id="services" class="services-section">
    <div class="services-txt text-center">
      <!-- <h3 class="section-title">Admin Works </h3> -->
    
    </div>
    
    <div class="container pt-5 pb-5">
      <div class="row text-center g-4">
        
        <div class=" col-md-6 mb-4">
          <div class="service-card doctor-service">
            <div class="service-icon">
              <i class="fa-solid fa-comment-dollar pulse"></i>
            </div>
            <h5 class="service-title">Seling Properity</h5>
            <div class="service-btn-container">
              <button routerLink="/SellWork" class="service-btn">
                Sell Work 
              </button>
            </div>
            <div class="service-overlay"></div>
          </div>
        </div>
        
        <div class=" col-md-6 mb-4">
          <div class="service-card image-service">
            <div class="service-icon">
              <i class="fa-solid fa-house-chimney-window pulse"></i>
            </div>
            <h5 class="service-title">Rent Properity</h5>
            <div class="service-btn-container">
              <button routerLink="/RentWork" class="service-btn">
                Rent Work 
              </button>
            </div>
            <div class="service-overlay"></div>
          </div>
        </div>
        
        
        
        
      </div>
    </div>
  </section>