<div class="container-fluid pb-5 pe-5 ps-5 pt-3">
    <p class="ms-5"> <span routerLink="/home" class="fw-bold fs-5 pointer"> <i class="fa fa-solid fa-home"></i> Home 
        <i class="fa-solid fa-angle-right"></i></span> 
         <span routerLink="/invest" class="fw-bold fs-5 pointer"> Invesment </span> </p>
</div>

<!-- -------------------------------------------- -->

<div class="container-fluid px-lg-5 px-md-3 px-2 mb-5">
    <div class="row g-3 g-md-4">
      <div class="col-md-6 col-12 mb-4 mb-md-0 p-4 ">
        <div class="photo-w shadow-lg">
          <div class="icon-top">
            <i class="fa-solid fa-building-flag icooon"></i>
          </div>
          <div class="montian-content text-start">
            <h1>Mountain View</h1>
            <p ><i class="fa-solid fa-shop me-3"></i>1.44 Ether</p>
            <p class="fs-6">| 24 Ether</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12 p-4">
        <div class="photo-t shadow-lg">
          
        </div>
      </div>
    </div>
  </div>
 
  <!-- -------------------------------------- -->


  <div class="container mb-5">
<div class="row">
    <div class="col-md-3 p-2 pt-4">
      <div class="bg-white shadow-sm d-flex p-2 rounded-3 align-items-center">
       <div class="w-25">
    <img src="../../../assets/image/real2.jpg" class="w-100 rounded-3" height="80px" alt="">
       </div>
       <div class="ms-2 mt-2">
        <p class="fw-bold">
            Mountain View City
        </p>
        <p class="fw-bold">
            <i class="fa-solid fa-shop me-1"></i> 0.005 Ether
        </p>
       </div>
      </div>
    </div>
    <div class="col-md-3 p-2 pt-4">
      <div class="bg-white shadow-sm d-flex p-2 rounded-3 align-items-center">
       <div class="w-25">
    <img src="../../../assets/image/real4.jpg" class="w-100 rounded-3" height="80px" alt="">
       </div>
       <div class="ms-2 mt-2">
        <p class="fw-bold">
            Hyde Park
        </p>
        <p class="fw-bold">
            <i class="fa-solid fa-shop me-1"></i> 0.005 Ether
        </p>
       </div>
      </div>
    </div>
    <div class="col-md-3 p-2 pt-4">
      <div class="bg-white shadow-sm d-flex p-2 rounded-3 align-items-center">
       <div class="w-25">
    <img src="../../../assets/image/real3.jpg" class="w-100 rounded-3" height="80px" alt="">
       </div>
       <div class="ms-2 mt-2">
        <p class="fw-bold">
           The Marq
        </p>
        <p class="fw-bold">
            <i class="fa-solid fa-shop me-1"></i> 0.005 Ether
        </p>
       </div>
      </div>
    </div>
    <div class="col-md-3 p-2 pt-4">
      <div class="bg-white shadow-sm d-flex p-2 rounded-3 align-items-center">
       <div class="w-25">
    <img src="../../../assets/image/rel1.jpg" class="w-100 rounded-3" height="80px" alt="">
       </div>
       <div class="ms-2 mt-2">
        <p class="fw-bold">
            Sodic Villette
        </p>
        <p class="fw-bold">
            <i class="fa-solid fa-shop me-1"></i> 0.005 Ether
        </p>
       </div>
      </div>
    </div>
</div>
  </div>

  <!-- -------------------------------------- -->

  <div class="container">
  <div class="row d-flex justify-content-center gap-5">
<div class="col-md-3 p-2">
    <div class="bg-white shadow-sm d-flex p-2 rounded-4 align-items-center justify-content-around mb-5">
        <div class="ms-2 mt-2">
         <p class="fw-bold">
             Mountain View City
         </p>
         <p class="fw-bold">
             <i class="fa-solid fa-shop me-1"></i> 0.91 Ether
         </p>
        </div>
         <div>
            <p class="text-info fw-bold fs-5">
                +10
            </p>
         </div>
       </div>
    <div class="bg-white shadow-sm d-flex p-2 rounded-3 align-items-center justify-content-around mb-5">
        <div class="ms-2 mt-2">
         <p class="fw-bold">
             Mountain View City
         </p>
         <p class="fw-bold">
             <i class="fa-solid fa-shop me-1"></i> 0.91 Ether
         </p>
        </div>
         <div>
            <p class="text-info fw-bold fs-5">
                +10
            </p>
         </div>
       </div>
    <div class="bg-white shadow-sm d-flex p-2 rounded-3 align-items-center justify-content-around mb-5">
        <div class="ms-2 mt-2">
         <p class="fw-bold">
             Mountain View City
         </p>
         <p class="fw-bold">
             <i class="fa-solid fa-shop me-1"></i> 0.91 Ether
         </p>
        </div>
         <div>
            <p class="text-info fw-bold fs-5">
                +10
            </p>
         </div>
       </div>
    <div class="bg-white shadow-sm d-flex p-2 rounded-3 align-items-center justify-content-around mb-5">
        <div class="ms-2 mt-2">
         <p class="fw-bold">
             Mountain View City
         </p>
         <p class="fw-bold">
             <i class="fa-solid fa-shop me-1"></i> 0.91 Ether
         </p>
        </div>
         <div>
            <p class="text-info fw-bold fs-5">
                +10
            </p>
         </div>
       </div>
</div>
<div class="col-md-7 p-2">
    <div class="photo-c shadow-lg">
          
    </div>
</div>
  </div>
  </div>