<section id="about" class="mb-5 ">
    <img src="../../../assets/image/bg.jpg" alt="Background" class="w-100 vh-100 object-fit-fill ">
  </section>
  
  <div class="container p-4 mb-5">
    <div class="row align-items-center">
      <div class="col-md-6 shadow-lg p-4 animate-section bg-light" style="background-color: #fffcfc;">
        <div class="about-text p-3 text-black">
          <h1 class="fw-bold  d-inline-block mb-4">
            About Us
            <span class="underline"></span>
          </h1>
          <p class="fs-5 mt-4 fw-bold">
            I'm here to help you through every step of the way. I'll work with you 
            to ensure the home buying process is seamless.
          </p>
          <p class="fw-bold fs-5">
            <span>-</span> Website presents luxurious homes<br> with premium-quality pictures.
          </p>
          <p class="fw-bold fs-5">
            <span>-</span> Gives detailed information about<br> neighborhoods for easier understanding.
          </p>
          <p class="fw-bold fs-5">
            <span>-</span> Easy to use, well-organized listings,<br> neighborhood details, and media.
          </p>
          <p class="fw-bold fs-5">
            <span>-</span> Makes it easy to find what you need,<br> whether buying or selling.
          </p>
        </div>
      </div>
  
      <div class="col-md-6 p-4 animate-section">
        <div class="about-image">
          <img src="../../../assets/image/poolimg.jpg" class="w-100 rounded-3 shadow" alt="Pool Image">
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
 <div class="col-md-4  ">
      <div class="ima-fit p-5 bg-white im-hover">
            <img src="../../../assets/image/WhatsApp Image 2024-11-28 at 5.57.35 AM.jpeg.jpg"
             height="700px" style="opacity: 0.7;" class="w-100" alt="">
      </div>
 </div>
 <div class="col-md-4  ">
      <div class="ima-fit-translat p-5 bg-white im-hover">
            <img src="../../../assets/image/b2.jpg"
             height="700px" style="opacity: 0.7;" class="w-100" alt="">
      </div>
 </div>
 <div class="col-md-4  ">
      <div class="ima-fit p-5 bg-white im-hover">
            <img src="../../../assets/image/b3.jpg "
             height="700px" style="opacity: 0.7;" class="w-100" alt="">
      </div>
 </div>
    </div>
  </div>