<section class="container my-4 animate__animated animate__fadeIn">
  <h1 class="page-title mb-4 text-center">Users List</h1>

  <div class="mb-3 search-container">
    <div class="search-box">
      <input 
        type="text" 
        [(ngModel)]="userWord" 
        placeholder="🔍 Search User Name..." 
        class="form-control search-input animate__animated animate__fadeInDown" 
      />
      @if(userWord) {
        <span 
          class="clear-icon animate__animated animate__fadeIn" 
          (click)="userWord = ''"
        >✖</span>
      }
    </div>
  </div>

  @if (spiner) {
    <div class="vh-100 d-flex justify-content-center align-items-center animate__animated animate__fadeIn">
      <i class="fa fa-spin fa-spinner"></i>
    </div>
  } @else {    
    <div class="animate__animated animate__fadeInUp">
      <div class="table-responsive">
        <table class="table table-hover align-middle text-center">
          <thead class="table-dark">
            <tr>
              <th class="animate__animated animate__slideInLeft">User Name</th>
              <th class="animate__animated animate__slideInLeft animate__delay-1s">Role</th>
              <th class="animate__animated animate__slideInLeft animate__delay-2s">Actions</th>
            </tr>
          </thead>
          <tbody>
            @for (user of AllComeUser |serchpipe : userWord ; track $index) {
              <tr class="animate__animated animate__fadeIn animate__faster">
                <td>{{ user.firstName }} {{ user.lastName }}</td>
                <td>{{ user.roles }}</td>
                <td>
                  <div class="d-flex justify-content-center gap-2">
                    <button
                      class="btn btn-sm animate__animated animate__pulse animate__infinite"
                      [ngClass]="{
                        'btn-danger': user.isDisabled, 
                        'btn-outline-danger': !user.isDisabled,
                        'animate__slow': user.isDisabled
                      }"
                      
                      (click)="BlockUser(user.id)"
                    >
                      {{ user.isDisabled ? 'Blocked' : 'BLock' }}
                    </button>
                    <button 
                      class="btn btn-outline-success btn-sm animate__animated" 
                      (click)="openAddRoleDialog(user.id)"
                      
                    >
                      Add Role
                    </button>
                    <button 
                      class="remove btn btn-outline-dark btn-sm animate__animated" 
                      (click)="openRemoveRoleDialog(user.id)"
                      
                    >
                      Remove Role
                    </button>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  }
</section>